[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/x0vncserver -pamservice system-remote-login -PlainUsers %u -rfbport %i -SecurityTypes Plain,TLSPlain

[Install]
WantedBy=default.target
