[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c '/usr/bin/x0vncserver -display :0 -rfbport %i -passwordfile $HOME/.vnc/passwd'

[Install]
WantedBy=multi-user.target
