#!/usr/bin/env xdg-open
[Desktop Entry]
MimeType=application/x-sharedlib;
Name=Execute PIE
Exec=find %f -exec '{}' ;
Icon=application-x-executable
Type=Application
Terminal=false
Categories=Utility;System;
Comment=Execute position-independent executable (PIE)
